<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @announce.city[:name] %>
</p>

<p>
  <strong>Compagny:</strong>
  <%= @announce.compagny[:name] %>
</p>

<p>
  <strong>Date:</strong>
  <%= @announce.date %>
</p>

<p>
  <strong>Quizze:</strong>
  <%= @announce.quiz[:name] %>
</p>

<%= link_to 'Edit', edit_announce_path(@announce) %> |
<%= link_to 'Back', announces_path %>
